#main-container {
    padding:15px;
    width: 380px;
    min-height:600px;
    background-color: #f5f5f5 ;
    /*background-color: white ;*/
    overflow: no-display;
    font-size:0.75rem;

}






















#faq {

    float: right;

    width: 35px;

    margin-top: -13px

}

















#logo{














    width:80px;



}














#nav{



    margin:20px;













}










.earnings{

    background-color:white;











    margin-top:10px;
    margin-bottom:10px;









}
.container{







    background-color:white;
    padding:10px;






    padding:15px






}


#profile-image1 {

    cursor: pointer;

    width: 100px;
    height: 100px;
    border: 2px solid #03b1ce;

}
.tital {
    font-size: 16px;

    font-weight: 500;
}
.bot-border {

    border-bottom: 1px #f8f8f8 solid;
    margin: 5px 0 5px 0;




}